NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_USE_API_PROXY=false

# Docker API

MAIL_USERNAME=lmts@ufape.edu.br
MAIL_PASSWORD=abcdefghijklmnop

FRONTEND_URL=http://localhost:3000;
MAIL_PASSWORD=abcdefghijklmnop;
MAIL_USERNAME=julio.cerqueira@ufape.edu.br;
SPRING_PROFILES_ACTIVE=dev